{{#each comments}}
Bulma template example
  buluma site: https://bulma.io/
  template site: https://bulmatemplates.github.io/bulma-templates/
  template source: https://bulmatemplates.github.io/bulma-templates/templates/landing.html
{{/each}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing - Free Bulma template</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documentation</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Coming Soon
                        </h1>
                        <h2 class="subtitle">
                            $this is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
                        </h2>
                        <div class="box" id="notify">
                            <form id="form" v-on:submit="addEvent">
                                <div class="field is-grouped" v-show="!submited">
                                    <p class="control is-expanded">
                                        <input v-model="post.email" name="email" class="input" type="email" placeholder="Enter your email">
                                    </p>
                                    <p class="control">
                                        <button type="submit" class="button is-info">
                                            Notify Me
                                        </button>
                                    </p>
                                </div>
                                <div class="field is-grouped" v-show="submited">
                                    Thank you for your submission!
                                </div>
                                <ul id="errors">
                                    <li v-show="!validation.email">The email address format is incorrect.</li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    </section>
    <script async type="text/javascript" src="/js/bulma.js"></script>
    <script async type="text/javascript">
        new Vue({

            // element to mount to
            el: '#notify',

            // initial data
            data: {
                post: {
                    email: ''
                },
                validation: {
                    email: true
                },
                submited: false
            },
            computed: {
                isValid: function() {
                    // email
                    var emailRegex = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                    this.validation.email = emailRegex.test(this.post.email);
                    return this.validation.email;
                }
            },
            methods: {
                addEvent: function(e) {
                    console.log(this.data);
                    console.log(this.post)
                    e.preventDefault()
                    if (this.isValid) {
                        // POST
                        this.$http.post('/submit', this.post).then(response => {
                            // ok
                        }, response => {
                            // ng
                        });
                        this.submited = true;
                    }
                },
            }
        })
    </script>
</body>

</html>
